@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;

}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  color: #666666;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  top: 50%;
  left: 5px;
  font-size: 16px;
 }
.forgot{
color: #666666;
 font-size: 12px;
 margin-top: -20px;
 left:200px;
 cursor: pointer;

}
.forgot:hover{
  text-decoration: underline;
  color: #00acee;
}
input[type="submit"]{
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border: 1px solid;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  border-radius: 25px;
  font-size: 14px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.sign_up{
font-size: 14px;
color: #666666;
  margin: 15px 0;
  text-align: center;
}
.sign_link{
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;

}
.sign{
  font-size: 14px;
  color: #666666;
  padding-top: 60px;
  text-align: center;
}
.sign_link a{
  color: #666666;
  text-decoration: none;
  font-size: 14px;
}
.sign_link a:hover{
  text-decoration: underline;
  color: #00acee;
}
  .iconss {
   text-align: center;

  }
#fb{
color: #3b5998;
font-size: 1.8em;
padding: 5px;
}
#twitter{
color: #1DA1F2;
font-size: 1.8em;
padding-top: 5px;
}
#google{
color: #DB4A39;
font-size: 1.8em;
padding: 5px;
}
.login:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}